<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Css starts -->
    {% include "Css.html" %}
    {% block contentCss %}
        <!-- includes addional Css -->
    {% endblock %}
    <!-- Css ends -->
</head>
<body>
    <!-- main content start -->
    {% block content %}
        <!-- includes html Main Content -->
    {% endblock %}
    <!-- main cintent end -->

    <!-- Script Starts -->
    {% include "script.html" %}
    {% block contentScript %}
        <!-- includes addional Script -->
    {% endblock %}
    <!-- Script ends -->
</body>
</html>