.banner1 {
    width: 100%;
    height: 100vh;
    padding: 0 48px 0 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftside1 {
    width: 50%;
}

.rightside1{
    width : 50%;
}

.rightside1 > .text > h1{
    font-size: 2.25rem;
    color: var(--text-heading);   
}
.rightside1 > .text li {
    font-size: 1.5rem;
    color: var(--text-normal)
}